<h1>Here Is Your Team!!</h1><br>
    <h2>Team Name: <%=@team[:name]%></h2><br>
    <h2>Team Motto: <%=@team[:motto]%> </h2><br>
    <h2>Members:</h2><br>
        <h3>Member One:</h3><br>
            <h4>Hero Name: <%=@member1[:name]%></h4><br>
            <h4>Hero Power: <%=@member1[:power]%></h4><br>
            <h4>Hero Biography: <%=@member1[:bio]%></h4><br>
        <h3> Member Two:</h3><br>
            <h4>Hero Name: <%=@member2[:name]%></h4><br>
            <h4>Hero Power: <%=@member2[:power]%></h4><br>
            <h4>Hero Biography: <%=@member2[:bio]%></h4><br> 
        <h3> Member Three:</h3><br>
            <h4>Hero Name: <%=@member3[:name]%></h4><br>
            <h4>Hero Power: <%=@member3[:power]%></h4><br>
            <h4>Hero Biography: <%=@member3[:bio]%></h4><br> 
